<div class="modal-wrapper" id="add-user-modal">
    <div class="modal">
      <a href="#" onclick="closeModal()" class="modal-close">+</a>
      <div class="modal-title">
        <h2>Create New User</h2>
      </div>
      <div class="modal-body">
        <form id="add-user-form"
            action="/users"
            method="post"
            enctype="multipart/form-data"
        >
          <input type="text" placeholder="enter name" name="name" />
          <p class="error show">This is error</p>
          <input type="text" placeholder="enter email" name="email" />
          <input type="text" placeholder="enter mobile" name="mobile" />
          <input
            type="password"
            placeholder="enter password"
            name="password"
          />
          <input type="file" name="avatar" />
          <input type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </div>
  <script>
    const modal = document.querySelector("#add-user-modal");
    function closeModal() {
      modal.style.display = "none";
    }
    function openModal() {
      modal.style.display = "block";
    }
  </script>